name: Deploy

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      working-directory: ./cise_ci_cd

    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "reactapptutorial-heroku" #Must be unique in Heroku
          heroku_email: "gerardalexigomez@yahoo.com"
      - working-directory: ./cise_ci_cd
